<a href="https://colab.research.google.com/github/irythmgarg/WORKING-WITH-PANDAS/blob/main/Pandas_series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Working with series**

In [30]:
#basic programe of series
a1=[1,2,3,4,5];
df=pd.Series(a1);
df

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [29]:
# series of alphabets with user defined indexes
import pandas as pd
import random as r
df=pd.Series(['a','b','c','d','e'],index=[r.randint(15,20) for i in range(5)]);
df

16    a
19    b
18    c
15    d
17    e
dtype: object

In [28]:
# series of alphabets
import pandas as pd
df=pd.Series(['a','b','c','d','e']);
df
del df

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [32]:
#basic programe of series with one list as list of indexes and other as that of objects
a1=[1,2,3,4,5];
a2=['a','b','c','d','e'];
df=pd.Series(a1,a2);
df=pd.Series(a2,a1);
df

1    a
2    b
3    c
4    d
5    e
dtype: object

In [34]:
# how to access members of series with indexes
a1=[1,2,3,4,5];
a2=['a','b','c','d','e'];
df=pd.Series(a2,a1);
df[4] # if there is absence of that index then it will throw an run time error;

'd'

In [39]:
#series using dict-
d2={1:'Ridham',2:'garg'};
df=pd.Series(d2);
df
df[1]
type(df[1])#showing type of value in dic
type(df)#showing it is series or dict

pandas.core.series.Series

In [49]:
#series of list of list
d2=[[1,2,3,4,5],[6,7,8,9,0]];
df=pd.Series(d2,index=[r.randint(1,6) for i in range(2)]);
df

1    [1, 2, 3, 4, 5]
2    [6, 7, 8, 9, 0]
dtype: object